@model IEnumerable<DataObjectsLayer.ServiceAppointmentVM>

@{
    ViewBag.Title = "Index";
}

<h2 class="animate__animated animate__slideInLeft">Service Appointments</h2>

<table class="table table-bordered table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td style="text-transform: capitalize">
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        <td style="text-transform: capitalize">
            @Html.DisplayFor(modelItem => item.ServiceTypeName)
        </td>
        <td>
            @if ((string)ViewBag.UserEmail == item.CustomerEmail)
            {
                @Html.ActionLink("Change", "Edit", new { id = item.AppointmentID }, new { @class = "btn btn-secondary mb-2", style = "Width: 5rem;" })
                <br/>
                @Html.ActionLink("Cancel", "Delete", new { id = item.AppointmentID }, new { @class = "btn btn-danger", style = "Width: 5rem;" })
                <br/>
            }
            @Html.ActionLink("Details", "Details", new { id = item.AppointmentID }, new { @class = "btn btn-info mt-2", style = "Width: 5rem;" })
        </td>
    </tr>
}

</table>
